@import url('https://fonts.googleapis.com/css?family=Caveat');   

* {
    font-family: 'Caveat', 'Times New Roman', Times, serif;
}

body {
    box-sizing: border-box;
    background-color: bisque;
    height: 100vh;
    overflow: hidden;
    padding-top: 10px;
}

#status-bar {
    display: none;
    margin: 0 auto;
    background-color: rgb(215, 77, 77);
    justify-content: space-around;
    align-items: center;
    width: max(50vw, 700px);
    height: 35px;
    border: 2px solid black;
    border-radius: 10px;
}

#heading {
    margin: 100px auto 120px auto;
    text-align: center;
    font-weight: bolder;
    font-size: 70px;
}

#message-box {
    display: none;
    width: 400px;
    height: 150px;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border: 2px solid green;
    color: black;
    text-align: center;
    font-size: 25px;
}

#buttons {
    margin: 40px auto;
    width: fit-content;
}

:root {
    --inactive-button-color: rgb(194, 49, 68);
    --active-button-color: rgb(162, 32, 49);
}

.option {
    /* border-style: none; */
    width: 190px;
    height: 135px;
    margin: 0 20px;
    padding: 0;
    border-radius: 20px;
    background-color: var(--inactive-button-color);
    font-size: xx-large;
    font-weight: bold;
    cursor: pointer;
}

.option:hover {background-color: var(--active-button-color);}

.option:active {
    background-color: var(--inactive-button-color);
    transform: translateY(4px);
}

#rock {
    margin-left: auto;
}

